<!doctype html>
<html lang="en">
<head>
  <title>VK Automation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="css/login.css">
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/routes.js"></script>
  <script type="text/javascript" src="js/services/vk-api.js"></script>
  <script type="text/javascript" src="js/services/vk-automation.js"></script>
  <script type="text/javascript" src="js/controllers/main-controller.js"></script>
  <script type="text/javascript" src="js/controllers/login-controller.js"></script>
  <script type="text/javascript" src="js/controllers/content-controller.js"></script>
</head>
<body ng-app="main" style="height:800px; background-color: #f2f2f2">

<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

<script language="javascript">
  var myId = 6718249;

  VK.init({
    apiId: 5329876
  });
</script>


  <div ng-view>
    
  </div>

<!--   <div class="app" ng-controller="mainController">
    <span>{{userId}}</span>
    <div>
      <span ng-show="showLogOut">Please wait. Checking login status...</span>
      <input type = "text" ng-model="user.login" ng-show="showLogIn"></input>
      <input type = "password" ng-model="user.password"  ng-show="showLogIn"></input>  
      <button ng-click="signIn()"  ng-show="showLogIn">log in</button>
      <button ng-click="signOut()"  ng-show="showLogOut">log out</button>
    </div>


    <button ng-click="getFriendsList()" ng-show="showLogOut">get friends</button>

    <div>
      <div ng-repeat="friend in friends">
        <span>{{friend.first_name + " " + friend.last_name}}</span><br>
      </div>
    </div>
  </div> -->



</body>
</html>
