<md-card layout="column" flex>
    <md-card-content layout="column" flex>
      <p>
        {{ $ctrl.article.text }}
      </p>
      <span flex></span>
      <md-divider></md-divider>
      <div layout="column">
        <div style="margin: 6px 0 10px 0" layout="row">
          <img class="group-avatar" ng-src="{{$ctrl.article.ownerPhoto}}">
          <div layout="column">
            <span class="truncate" style="font-size:14px; color: #606060">
              {{$ctrl.article.ownerName}} 
            </span>  
            <span class="truncate" style="font-size:14px; color: #606060">
              (id: {{-$ctrl.article.ownerId}})
            </span>       
          </div>
        </div>
        <div layout="column">
          <span style="font-size:14px; color: #606060">
            Created: {{$ctrl.article.creationDate | date:"MM/dd/yyyy 'at' hh:mm:ss"}}
            <br>
            Scheduled: {{$ctrl.article.scheduledPostDate | date:"MM/dd/yyyy 'to' hh:mm:ss"}}
            <br>
            Delay: {{$ctrl.article.delay | msToTime}}
          </span>          
        </div>
      </div>
    </md-card-content>

    <md-card-actions layout="row" >
        <span flex></span>

        <md-button class="md-icon-button" ng-click="$ctrl.suspend()">
          <md-icon class="custom-icon">pause</md-icon>
          <md-tooltip md-delay="500" md-direction="bottom">
            Suspend
          </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.removeFromQueue()">
          <md-icon class="custom-icon">alarm_off</md-icon>
          <md-tooltip md-delay="500" md-direction="bottom">
            Remove from Queue
          </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.postNow()">
          <md-icon class="custom-icon">queue_play_next</md-icon>
          <md-tooltip md-delay="500" md-direction="bottom">
            Post Imediately
          </md-tooltip>
        </md-button>
    </md-card-actions>
</md-card>
