<md-list-item ng-repeat="group in $ctrl.groups" ng-click="$ctrl.onSelect({group: group})" class="noright">
	<md-divider ng-if="!$last"></md-divider>
    <img alt="{{ group.name}}" ng-src="{{ group.photo }}" class="md-avatar" />
    <p>{{ group.name }}</p>
    <md-button class="md-raised" 
    	ng-click="$ctrl.toggleGroupAutoposting(group); $event.stopPropagation();" 
    	ng-class="{'md-primary': !group.isActive, 'md-warn': group.isActive}">
    	{{group.isActive? 'stop posting': 'start posting'}}
    </md-button>
</md-list-item>	
