<md-list-item 
	ng-class="{'selected-group': group === $ctrl.selectedGroup}" 
	ng-repeat="group in $ctrl.groups" 
	ng-click="$ctrl.selectGroup(group)" 
	class="noright">
	<md-divider ng-if="!$last"></md-divider>
    <img alt="{{ group.name}}" ng-src="{{ group.photo }}" class="md-avatar" />
    <p>{{ group.name }}</p>
    <md-button class="md-icon-button"
    	ng-mousedown="$event.stopPropagation()"
    	ng-mouseup="$event.stopPropagation()"
    	ng-click="$ctrl.toggleGroupAutoposting(group, $event)" >
    	<md-icon ng-class="{red: group.isActive, 'dark-grey': !group.isActive}">
    		{{group.isActive? 'pause_circle_outline': 'play_circle_outline'}}
    	</md-icon>
    	<md-tooltip md-delay="500" md-direction="bottom">
            {{group.isActive? 'Stop autoposting': 'Start autoposting'}}
        </md-tooltip>
    </md-button>
</md-list-item>		

