<md-card ng-repeat="article in $ctrl.articles | filter:{status:1} track by $index">
    </md-card-title>
    <md-card-content>
      <p>
      	{{ article.text }}
      </p>
      <md-divider></md-divider>
      <p>
      	Created: {{article.creationDate | date:"MM/dd/yyyy h:mma"}}
      </p>
      <p>
      	Scheduled: 
      	<span ng-class="{expiredArticle: article.isExpired}">
      		{{article.isExpired? "expired": article.scheduledPostDate | date:"MM/dd/yyyy 'at' hh:mm:ss"}}
      	</span>
      </p>
      <p ng-if="!article.isExpired">Will expire in: {{article.willExpireIn | millSecondsToTimeString}}</p>
    </md-card-content>

    <md-card-actions layout="row" >
      	<md-button class="md-raised md-warn" ng-click="$ctrl.removeFromQueue(article)">remove from queue</md-button>
      	<md-button class="md-raised md-primary" ng-click="$ctrl.postNow(article)">post now</md-button>
    </md-card-actions>
</md-card>
