<style type="text/css">
    .expiredArticle {
    	color: red;
    }
</style>

<!-- <md-grid-list
        md-cols="6"
		md-row-height="40px"
        md-gutter="8px">
    <md-grid-tile ng-repeat="article in $ctrl.articles track by $index"> -->

		<md-card layout-nowrap ng-repeat="article in $ctrl.articles track by $index">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Author: {{ article.author }}</span>
	          </md-card-title-text>
	        </md-card-title>
	        <hr/>
	        <md-card-content>
	          {{ article.text }}
	          <br>
	          <md-divider></md-divider>
	          <p>
	          	Created: {{article.creationDate | date:"MM/dd/yyyy 'at' h:mma"}}
	          </p>
	          <p>
	          	Scheduled: 
	          	<span ng-class="{expiredArticle: article.isExpired}">
	          		{{article.isExpired? "expired": article.scheduledPostDate | date:"MM/dd/yyyy 'at' hh:mm:ss"}}
	          	</span>
	          </p>
	          <p ng-if="!article.isExpired">Will expire in: {{article.willExpireIn | millSecondsToTimeString}}</p>
	        </md-card-content>

	        <md-card-actions layout="row" layout-align="end center">
	          <md-button class="md-raised md-primary" ng-click="$ctrl.addToQueue(article)">add to queue</md-button>
	        </md-card-actions>
	    </md-card>
<!--     </md-grid-tile>
</md-grid-list> -->

