<md-tabs md-border-bottom>
	<md-tab label="Details">
			<h1 class="md-display-2">Details</h1>
			<br>
			<h3>Group name: {{$ctrl.selectedGroup.name}}</h3>
			<img ng-src="{{$ctrl.selectedGroup.photo_medium}}">
			<br>
			<p>Group ID: {{$ctrl.selectedGroup.gid}}</p>
			<br>
	</md-tab>
	<md-tab label="Articles">
		  	<h1 class="md-display-2">Articles</h1>
			<articles-list articles="$ctrl.articles" on-queue=""></articles-list>
	</md-tab>
	<md-tab label="Posting History">
		  	<h1 class="md-display-2">Posting History</h1>
			<p>Here will be Posting History component</p>
	</md-tab>
	<md-tab label="New Article">
		  	<h1 class="md-display-2">New Article</h1>
			<new-content on-save="$ctrl.addArticle(article)"></new-content>
	</md-tab>
</md-tabs>