<div layout layout-fill layout-align="center center"> 
  <md-whiteframe class="md-whiteframe-2dp">
    <md-list ng-cloak>
      <md-list-item ng-repeat="lang in langs">
        <img alt="{{ lang.name}}" ng-src="{{ lang.logo }}" class="md-avatar" />
        <p>{{ lang.name }}</p>
        <div ng-controller="RatingController as rating">
       		<div star-rating ng-model="rating.rating1" max="10" on-rating-select="rating.rateFunction(rating)"></div>
        </div>
      </md-list-item>
    </md-list> 
  </md-whiteframe> 
</div> 